<section class="contact vh-100 d-flex  justify-content-center">
  <div class="login-user d-flex container-fluid flex-column justify-content-end w-100 pt-3 pb-3" style="background: #f1f3f2">

    <div class="text-center mx-auto d-flex align-items-center justify-content-center mbt-n6">
      <h1 class="no-mb text-center bs fw-bold fst-italic">Budgetscan</h1>
    </div>

    <div class="mb-3">
      <%= link_to "LOGIN",   new_user_session_path, class: 'white-color form-control btn btn-primary' %>
    </div>

    <div class="mb-3 ">
      <%= link_to "SIGN UP", new_user_registration_path, class: 'white-color form-control  btn btn-primary' %>
    </div>

  </div>
</section>



