body {
  background-image: linear-gradient(180deg, #225e94, #143562, #2f7fbb);
}

.fs-sm-1 {
  font-size: 0.85rem;
}

.mailbox {
  background: #eaf1fd;
  width: 50px;
  height: 50px;
  border-top-left-radius: 70%;
  border-top-right-radius: 12%;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 31%;
}
