@font-face {
  font-family: 'Proxima Nova';
  src: url('Proxima_Nova_Font.otf');
}

@font-face {
  font-family: 'Huruf Miranti';
  src: url('huruf_miranti_bold.ttf');
}

* {
  font-family: 'Proxima Nova', serif;
}

h1 {
  font-family: 'Huruf Miranti', sans-serif;
  font-weight: bold;
}

body {
  background-image: linear-gradient(180deg, #225e94, #143562, #2f7fbb);
}

.fs-sm-1 {
  font-size: 0.85rem;
}

.mailbox {
  background: #eaf1fd;
  width: 50px;
  height: 50px;
  border-top-left-radius: 70%;
  border-top-right-radius: 12%;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 31%;
}

.container-x {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.contact {
  background: #f5f6f8;
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
}

.d-head {
  background: #3470b8;
  color: #fff;
}

.d-head a,
.white-color {
  color: #fff;
}

.mbt-6 {
  margin-bottom: 4.5rem;
  margin-top: 4.5rem;
}

.mbt-n6 {
  margin-bottom: 12rem;
}

.no-mb {
  margin-bottom: 0;
}

.ps-e-12 {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.form-style {
  padding-left: 0;
  padding-right: 0;
}

.form-bdy {
  border-top: 2px solid #ebeaea;
  padding-top: 0.75rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.no-bd {
  border-top: 0;
}

.log-btn {
  outline: none;
  border: none;
  background: inherit;
  color: inherit;
}
